{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<title>{% block head_title %}{% endblock %}</title>
{% block extra_head %} {% endblock %}
<style type="text/css">
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da !important;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>
<body class="animsition">
{% include "nav.html" %}

{% block content %}
{% endblock content %}

{% block extra_body %}
{% endblock %}

{% include "footer.html" %}
{% include "script.html" %}

{% block extra_scripts %}
{% endblock extra_scripts %}
<script>
    function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
    }
</script>

<!--===============================================================================================-->
<script src="{% static 'temp/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'temp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/select2/select2.min.js' %}"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'temp/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'temp/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/parallax100/parallax100.js' %}"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
<script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/sweetalert/sweetalert.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'temp/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="{% static 'temp/js/main.js' %}"></script>
</body>
</html>
