{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50 mt-5">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart ">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                            </tr>
                            {% for order_item in object.items.all %}
                                <tr class="table_row">
                                    <td class="column-1">
                                        <div class="how-itemcart1">
                                            <img src="{{ order_item.item.image.url }}" alt="IMG">
                                        </div>
                                    </td>
                                    <td class="column-2">{{ order_item.item.title }}</td>
                                    <td class="column-3">₹{{ order_item.item.price }}</td>
                                    <td class="column-4">
                                        <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i
                                                class="fs-16 zmdi zmdi-minus mr-3"></i></a>
                                        {{ order_item.quantity }}
                                        <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i
                                                class="fs-16 zmdi zmdi-plus ml-3"></i></a>
                                    </td>
                                    <td class="column-5">
                                        {% if order_item.item.discount_price %}
                                            ${{ order_item.get_total_discount_item_price }}
                                            <span class="badge badge-primary">  Saving ${{ order_item.get_amount_saved }}</span>
                                        {% else %}
                                            ${{ order_item.get_total_item_price }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                        <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                            <a href="/" class="text-dark">
                                Continue Shopping
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto mt-5">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
                        </div>

                        <div class="size-209">
								<span class="mtext-110 cl2">
									₹{{ object.get_total }}
								</span>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
                        </div>

                        <div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									₹{{ object.get_total }}
								</span>
                        </div>
                    </div>

                    <a href="/checkout"
                       class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-lg-12">#}
    {#                <h2>Order Summary</h2>#}
    {#                <table class="table">#}
    {#                    <thead>#}
    {#                    <tr>#}
    {#                        <th scope="col">#</th>#}
    {#                        <th scope="col">Product Name</th>#}
    {#                        <th scope="col">Price</th>#}
    {#                        <th scope="col">Qty</th>#}
    {#                        <th scope="col">Total Price</th>#}
    {#                    </tr>#}
    {#                    </thead>#}
    {#                    <tbody>#}
    {#                    {% for order_item in object.items.all %}#}
    {#                        <tr>#}
    {#                            <th scope="row">{{ forloop.counter }}</th>#}
    {#                            <td>#}
    {#                                <img src="{{ order_item.item.image.url }}" style="width: 130px;">#}
    {#                            </td>#}
    {#                            <td>{{ order_item.item.title }}</td>#}
    {#                            <td>{{ order_item.item.price }}</td>#}
    {#                            <td>#}
    {#                                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i#}
    {#                                        class="fas fa-minus mr-3"></i></a>#}
    {#                                {{ order_item.quantity }}#}
    {#                                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i#}
    {#                                        class="fas fa-plus ml-3"></i></a>#}
    {#                            </td>#}
    {#                            <td>#}
    {#                                {% if order_item.item.discount_price %}#}
    {#                                    ${{ order_item.get_total_discount_item_price }}#}
    {#                                    <span class="badge badge-primary">  Saving ${{ order_item.get_amount_saved }}</span>#}
    {#                                {% else %}#}
    {#                                    ${{ order_item.get_total_item_price }}#}
    {#                                {% endif %}#}
    {#                                <a style="color: red" href="{% url 'core:remove-from-cart' order_item.item.slug %}">#}
    {#                                    <i class="fas fa-trash float-right"></i>#}
    {#                                </a>#}
    {#                            </td>#}
    {#                        </tr>#}
    {#                    {% empty %}#}
    {#                        <tr>#}
    {#                            <td colspan="5">Your cart is empty</td>#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    {% endfor %}#}
    {#                    {% if object.coupon %}#}
    {#                        <tr>#}
    {#                            <td colspan="5"><b>Coupon : </b></td>#}
    {#                            <td>- ${{ object.coupon.amount }}</td>#}
    {#                        </tr>#}
    {#                    {% endif %}#}
    {#                    {% if object.get_total %}#}
    {#                        <tr>#}
    {#                            <td colspan="5"><b>Order Total : </b></td>#}
    {#                            <td><b>${{ object.get_total }}</b></td>#}
    {#                        </tr>#}
    {#                        <tr>#}
    {#                            <td colspan="5">#}
    {#                                <a href="/checkout" class="btn btn-warning float-right ml-2">Checkout</a>#}
    {#                                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>#}
    {##}
    {#                            </td>#}
    {#                        </tr>#}
    {#                    {% endif %}#}
    {#                </table>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>

    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'temp/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'temp/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'temp/vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'temp/js/slick-custom.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'temp/vendor/parallax100/parallax100.js' %}"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'temp/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'temp/vendor/isotope/isotope.pkgd.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'temp/vendor/sweetalert/sweetalert.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'temp/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="{% static 'temp/js/main.js' %}"></script>

{% endblock content %}
